/* Styles for login and register pages */


/* Body */

.account-body {
    position: relative;
    margin-top: 5px;
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    height: auto;
    padding: 0 125px 20px;
    background-color: var(--background);
}


/* Username and password instructions on the bottom of site */

aside {
    margin-top: 20px;
    border-top: 1px solid var(--brown1);
}

aside span {
    display: block;
    padding: 3px 0 3px 0;
    font-size: 12px;
}