/* Styles for buttons */

/* 
Styles for bigger buttons to mark as complete/uncomplete
and delete task are in task_detail.css file
*/


/* Buttons on page (submit, edit, delete, login, register) */

.btn {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--brown1);
    cursor: pointer;
    font-size: 14px;
    color: white;
    text-decoration: none; 
}

.btn:hover {
    background-color: transparent;
    color: black;
}


/* Buttons in header (search, new task, logout, back) */

.header-btn {
    margin-left: 4px;
    border: none;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    background-color: white;
    font-size: 14px;
    color: var(--brown3);
    text-decoration: none;
}

.header-btn:hover {
    background-color: transparent;
    color: white;
    cursor: pointer;
}


/* Buttons to mark task as complete/uncomplete */

.complete-btn {
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    background-color: green;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.complete-btn:hover {
    background-color: transparent;
    color: black;
}

.uncomplete-btn {
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    background-color: red;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.uncomplete-btn:hover {
    background-color: transparent;
    color: black;
}


/* Buttons to delete task */

.delete-btn {
    margin: 0 5px 0 5px;
    border-radius: 10px;
    height: 19px;
    width: 20px;
    padding-top: 1px;
    background-color: red;
    text-align: center;
    color: white;
    text-decoration: none;   
}

.delete-btn:hover {
    background-color: transparent;
    color: black;
}


/* Buttons to change login/register page */

.account-btn {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: var(--brown1);
    font-size: 14px;
    color: white;    
    text-decoration: none;
}

.account-btn:hover {
    background-color: transparent;
    color: black;
}