/* Styles for header tags */


header {
    justify-content: space-between;
    display: flex;
    border-radius: 5px;
    height: 85px;
    padding: 10px;
    background: var(--header-background-color);
    color: white;
}

header section {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

header nav {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    text-align: right;
}

header a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header p {
    font-size: 15px;
    font-weight: bold;
}

.header-inline {
    display: inline-flex;
    margin-left: auto;
}