@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/* Colors */

:root {
    --brown1: rgb(120, 0, 0);
    --brown2: rgb(80, 0, 0);
    --brown3: rgb(40, 0, 0);
    --background: rgba(240, 240, 240, 0.8);
    --header-background-color: linear-gradient(45deg, var(--brown1) 0%, var(--brown2) 50%, var(--brown3) 100%); 
}


/* background-color: #f0f0f0; - szary do wykorzystania */


/* HTML tags */

body {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 50px;
    background: url(../images/background.jpg);
    background-size: auto 100%;
    background-position-x: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

main {
    margin: auto;
    border-radius: 5px 5px 0 0;
}

label {
    display: block;
    padding-top: 10px;
}


/* Containers dimensions */

.main-container {
    width: 1400px;
    min-height: 620px;
}

.card-container {
    width: 550px;
}