/* Styles for homepage with all the tasks */


time {
    font-size: 12px;
}

.tasklist {
    vertical-align: top;
    display: inline-block;
    margin-top: 5px;
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    width: 347px;
    min-height: 500px;
    background-color: var(--background);
}

.tasklist-header {
    padding: 10px 0 5px 0;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.task {
    margin: 5px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.task-wrapper {
    flex-flow: row wrap;
    justify-content: flex-end;
    display: flex;
    font-size: 18px;
}

.task-link {
    margin-right: auto;
    font-size: 22px;
    color: black;
    text-decoration: none;
}