@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --header-background: linear-gradient(45deg, rgb(29, 206, 29) 0%, rgb(11, 180, 11) 40%, rgb(3, 112, 3) 100%); 
}


body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

h1, h3 {
    font-family: 'Rubik', sans-serif;

}

h1 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: var(--header-background);
}

.header-right-side {
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
}

.header-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    

.header-bar a {
    color: white;
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

.tasklist-header {
    text-align: center;
}

.tasklist-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 345px;
}

.task-wrapper {
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    margin: 5px;
    border-radius: 10px;
}


.task-name {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 18px;
  }

.task-link {
    margin-right: auto;
}

.task-link a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}


.complete-btn {
    background-color: rgb(29, 206, 29);
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.complete-btn:hover {
    background-color:white;
    color: black;
}

.uncomplete-btn {
    background-color: red;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.uncomplete-btn:hover {
    background-color: white;
    color: black;
}


.delete-btn {
    display: block;
    background-color: red;
    height: 19px;
    width: 20px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding-top: 1px;
    margin: 0 5px 0 5px;
}

.tooltip {
    visibility: hidden;
    font-size: 10px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 5px;
    position: absolute;
    z-index: 1;
}

.delete-btn:hover {
    background-color: white;
    color: black;
}

.deadline {
    font-size: 12px;
}