@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --green1: rgb(36, 221, 36);
    --green2: rgb(11, 180, 11);
    --header-background-color: linear-gradient(45deg, var(--green1) 0%, var(--green2) 50%, green 100%); 
}



/* style */



body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

h1, h3 {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: underline;
}

main {
    border-radius: 5px 5px 0 0;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

label {
    padding-top: 10px;
    display: block;
}

.main-container {
    width: 1400px;
    min-height: 620px;
}

.card-container {
    width: 550px;
}



/* header */



header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: var(--header-background-color);
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav {
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
}

header a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.search-bar {
    display: inline-flex;
}



/* text fields */ 


input[type=text],
input[type=password],
textarea,
.text-field {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
}

.description-field {
    min-height: 150px;
}

.date-field {
    width: fit-content;
}

.date-input {
    width: 75px;
}


/* buttons */


.btn {
    border: none;
    background-color: var(--green1);
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.btn:hover {
    background-color: white;
    color: black;
}

.search-btn {
    border: none;
    background-color: white;
    color: green;
    padding: 10px;
    margin-left: 2px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}

.search-btn:hover {
    background-color: transparent;
    color: white;
}

.complete-btn {
    background-color: var(--green1);
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.complete-btn:hover {
    background-color:white;
    color: black;
}

.uncomplete-btn {
    background-color: red;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.uncomplete-btn:hover {
    background-color: white;
    color: black;
}

.delete-btn {
    display: block;
    background-color: red;
    height: 19px;
    width: 20px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding-top: 1px;
    margin: 0 5px 0 5px;
}

.delete-btn:hover {
    background-color: white;
    color: black;
}

.account-btn {
    border: none;
    background-color: var(--green1);
    color: white;
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

/* tasklist */

time {
    font-size: 12px;
}

.tasklist {
    display: inline-block;
    vertical-align: top;
    width: 345px;
}

.task {
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    margin: 5px;
    border-radius: 10px;
}

.task-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 18px;
}

.task-link {
    margin-right: auto;
    text-decoration: none;
    color: black;
    font-size: 22px;
}


/* task details, edit, delete */


.card-body {
    height: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    position: relative;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-top: 10px;
}

footer .complete-btn {
    height: 34px;
    width: 34px;
    border-radius: 17px;
}

footer .uncomplete-btn {
    height: 34px;
    width: 34px;
    border-radius: 17px;
}

footer .delete-btn {
    height: 31px;
    width: 34px;
    font-size: 25px;
    border-radius: 17px;
    padding-top: 3px;
}

footer .btn {
    margin-right: auto;
    margin-top: 0;
}



/* account */


.account-body {
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    position: relative;
}

aside {
    margin-top: 20px;
    border-top: 1px solid green;
}

aside span {
    display: block;
    font-size: 12px;
    padding: 3px 0 3px 0;

}