input[type=text],
input[type=password],
textarea,
.text-field {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
}

.description-field {
    min-height: 150px;
}

.date-field {
    width: fit-content;
}

.date-input {
    width: 75px;
}