/* Styles for text fields */


/* General style for text field */

input[type=text],
input[type=password],
textarea,
.text-field {
    border: 1px solid green;
    border-radius: 5px;
    width: 95%;
    padding: 10px;
}


/* Detailed styles for different text fields */

.description-field {
    min-height: 150px;
}

.date-field {
    width: fit-content;
}

.date-input {
    width: 75px;
}

.search-field {
    border: none !important;
}