<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Task Planner</title>
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/text_fields.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/buttons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/tasklist.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/task_detail.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/account.css' %}">

        <!-- React -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>