{% extends 'base/main.html' %}
{% block content %}

<main class="card-container">

    <header>
        <section>
            <h1>New/edit task</h1>
            <a class="header-btn" href="{% url 'tasks' %}">Back to list</a>
        </section>   
    </header>

    <section class="card-body">
        <form method="POST">
            {% csrf_token %}

            <label>{{form.title.label}}</label>
            {{form.title}}

            <label>{{form.due_date.label}}</label>
            <div class="date-input">{{form.due_date}}</div>
            
            <label>{{form.description.label}}</label>
            {{form.description}}

            <input class="btn" type="submit" value="Submit">
        </form>
    </section>

</main>

{% endblock content %}