{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div class="header-left-side">
        <h1>{{count}} task{{ count|pluralize:"s" }} for today</h1>
        <div>
            <a href="{% url 'task-create' %}">&#43; new task</a>
            
        </div>
    </div>
    <div class="header-right-side">
        <a href="{% url 'logout' %}">Logout ({{request.user|title}})</a>
        <form method="GET">
            <input type="text" name="search-area" value="{{search_input}}">
            <input type="submit" value="Search">
        </form>
    </div>
</div>



<div class="tasklist-wrapper">
    <h3>Po terminie</h3>
    {% for task in tasks %}
    {% if task.past %}
    <div class="task-wrapper">
        {% if task.completed == False %}
        <div class="task-name">
            <div class="task-link">
                <a href="{% url 'task-detail' task.id %}">{{task}}</a>
            </div>
            <div class="complete-form">
                <form method="post" action="{% url 'complete' task.pk %}">
                    {% csrf_token %}
                    <button type="submit">{% if task.completed %}Mark as uncompleted{% else %}Mark as completed{% endif %}</button>
                </form>
            </div>
            <div class="delete-link">
                <a href="{% url 'task-delete' task.id %}">&#215;</a>
            </div>
        </div>
        <p>due to {{task.due_date}}</p>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="tasklist-wrapper">
    <h3>Dzisiejsze</h3>
    {% for task in tasks %}
    {% if task.today %}
    <div class="task-wrapper">
        {% if task.completed == False %}
        <div class="task-name">
            <div class="task-link">
                <a href="{% url 'task-detail' task.id %}">{{task}}</a>
            </div>
            <div class="complete-form">
                <form method="post" action="{% url 'complete' task.pk %}">
                    {% csrf_token %}
                    <button type="submit">{% if task.completed %}Mark as uncompleted{% else %}Mark as completed{% endif %}</button>
                </form>
            </div>
            <div class="delete-link">
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            </div>
        </div>
        <p>due to {{task.due_date}}</p>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="tasklist-wrapper">
    <h3>Nadchodzące</h3>
    {% for task in tasks %}
    {% if task.coming %}
    <div class="task-wrapper">
        {% if task.completed == False %}
        <div class="task-name">
            <div class="task-link">
                <a href="{% url 'task-detail' task.id %}">{{task}}</a>
            </div>
            <div class="complete-form">
                <form method="post" action="{% url 'complete' task.pk %}">
                    {% csrf_token %}
                    <button type="submit">{% if task.completed %}Mark as uncompleted{% else %}Mark as completed{% endif %}</button>
                </form>
            </div>
            <div class="delete-link">
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            </div>
        </div>
        <p>due to
            {% if task.due_date %}
                {{task.due_date}}
            {% else %}
                (no date)
            {% endif %}
        </p>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="tasklist-wrapper">
    <h3>Zakończone</h3>
    {% for task in tasks %}
    {% if task.completed %}
    <div class="task-wrapper">
        <div class="task-name">
            <div class="task-link">
                <i><s><a href="{% url 'task-detail' task.id %}">{{task}}</a></s></i>
            </div>
            <div class="complete-form">
                <form method="post" action="{% url 'complete' task.pk %}">
                    {% csrf_token %}
                    <button type="submit">{% if task.completed %}Mark as uncompleted{% else %}Mark as completed{% endif %}</button>
                </form>
            </div>
            <div class="delete-link">
                <a href="{% url 'task-delete' task.id %}">&#215;</a>
            </div>
        </div>
        <p>completed {{task.completed_date|date}}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}