{% extends 'base/main.html' %}
{% block content %}

<div class="container-tight">

<div class="header-bar">
    <div class="header-left-side">
        <h1>New/edit task</h1>
        <div>
            <a class="back" href="{% url 'tasks' %}">&#8592; Back</a>
        </div>
    </div>   
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input class="form-button" type="submit" value="Submit">
    </form>
</div>

</div>

{% endblock content %}